<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	
	<bean id="a" class="com.tech.student">
	<constructor-arg>
	<value>23</value>
	</constructor-arg>
	</bean>
	
	<bean id="a2" class="com.tech.student">
	</bean>
	
	<bean id="a3" class="com.tech.student">
	<constructor-arg>
	<value>56</value>
	</constructor-arg>
	<constructor-arg>
	<value>kumar</value>
	</constructor-arg>
	
	</bean>
</beans>